<footer class="site-footer h-card">
  <data class="u-url" href="{{ "/" | relative_url }}"></data>

  <div class="wrapper">

    <div class="footer-col-wrapper row">
      <div class="footer-col footer-col-1 col m3 sm6">
       <h2 class="footer-heading">©2019, Subscale Corporation</h2>

     <!--  <div class="footer-col footer-col-2">
        {%- include social.html -%}
      </div> -->
      </div>
      <div class="footer-col footer-col-3 col sm6 m9">
        <ul>
          <li><a href="/legal-notices/privacy/">Privacy Policy</a></li>
        </ul>
       </div>
    </div>

  </div>
	<!--- Start of GetEmails.com Code --->
<script async src="https://s3-us-west-2.amazonaws.com/files.getemails.com/account/R18HO3O/source/getemails.js"></script>
<!--- End of GetEmails.com Code --->
</footer>
<script type="text/javascript"
  src="/assets/js/theme.js"></script>
  <script type="text/javascript">
    $( document ).ready(function() {
      // fire Materialize JS
        M.AutoInit();
        AOS.init();
      var $form = $('#mc-embedded-subscribe-form');
      if ($form.length > 0) {
        $('form input[type="submit"]').bind('click', function (event) {
          if (event) event.preventDefault()
          register($form)
        })
      }
      // console.log('running');
      function register($form) {
        $('#mc-embedded-subscribe').val('Sending...');
        jQuery.ajax({
          type: $form.attr('method'),
          url: $form.attr('action'),
          data: $form.serialize(),
          cache: false,
          dataType: 'json',
          contentType: 'application/json; charset=utf-8',
          error: function () { alert('Could not connect to the registration server. Please try again later.') },
          success: function (data) {
            $('#mc-embedded-subscribe').val('Subscribe')
            if (data.result === 'success') {
              // Yeahhhh Success
              console.log(data.msg)
              $('#mce-EMAIL').css('borderColor', '#ffffff')
              $('#subscribe-result').css('color', 'rgb(53, 114, 210)')
              $('#subscribe-result').html('<p>Thank you for subscribing. We have sent you a confirmation email.</p>')
              $('#mce-EMAIL').val('')
            } else {
              // Something went wrong, do something to notify the user.
              console.log(data.msg)
              $('#mce-EMAIL').css('borderColor', '#ff8282')
              $('#subscribe-result').css('color', '#ff8282')
              $('#subscribe-result').html('<p>' + data.msg.substring(4) + '</p>')
            }
          },
        })
      }
    });
  </script>
  <!-- Start of HubSpot Embed Code --> 
  <script type="text/javascript" id="hs-script-loader" async defer src="//js.hs-scripts.com/6283207.js"></script>
   <!-- End of HubSpot Embed Code -->
<!-- <script src="{{ "/assets/js/bundle.js" | relative_url }}" type="text/javascript"></script> -->

