.site-header {
    padding: 25px 0;
    text-align: center;
}

.site-footer {
    padding: 3em 0;
    text-align: center;
}

.logo img {
    max-width: 150px;
}

.flex h2 {
    color: #441942;
}

.container {
    max-width: 978px;
    margin: 0 auto;
    width: 100%;
}

p {
    line-height: 26px;
    font-size: 18px;
}
* {
    padding: 0;
    font-size: 18px;
    font-family: 'Raleway', sans-serif;
    margin: 0;
}

.pt {
    padding-top: 10em;
}

h1,h2,h3,h4 {
    font-weight: 100;
}

.banner {
    background: linear-gradient(70deg, #150313 0%, #60265E 101.5%), #F6F6F6;
    color: white;
    text-align: center;

    position: relative;
    
}

.minh {
    min-height: 700px;
    padding-bottom: 10em;
}

.cta {
    background-color: #fff;
    border-radius: 30px;
    padding: 15px 60px;
    display: inline-block;
    margin: 1.5em 0;
    color: #000;
    text-decoration: none;
    font-weight: bold;
    font-size: 18px;
}
.cta2{
    background-color: #41183f;
    border-radius: 30px;
    padding: 15px 60px;
    display: inline-block;
    margin: 1.5em 0;
    color: #fff;
    text-decoration: none;
    font-weight: bold;
    font-size: 18px;
}
.text-center{
    text-align: center;
}
.pt-10{
    padding-top: 10px !important;
}

h1 {
    font-size: 4em;
    margin-bottom: 20px;
}

h2 {
    font-size: 2em;
    margin-bottom: 20px;
    
}

.text-white {
    color: white;
}
.back-white{
    background-color: #e0e0e0;
    padding-top: 70px !important;
    padding-bottom: 70px !important;
    border-radius: 10px;
}

.video3 {
    margin-top: -210px !important;
}

.banner p {
    max-width: 600px;
    margin: 0 auto;
    font-size: 18px;
    line-height: 34px;
}

.banner-content {
    padding: 5em 0;
}


.text-sm {
    font-size: 14px !important;
}

.video {
    margin-top: -300px;
    position: relative;
    text-align: center;

}

.video2 {
    margin-top: -460px;
    position: relative;
    text-align: center;
}

.top-svg {
    position: absolute;
  bottom: 0;
  width: 100%;
  height: 10vw;
  left:0;
}

.bt-svg {
    position: absolute;
  top: 0;
  width: 100%;
  height: 10vw;
  left:0;
}

.video iframe {
    margin-bottom: 20px;
}
.pl-4
{
    padding-left: 40px !important;
}
.pr-4
{
    padding-right: 40px !important;
}

.pt-7
{
    padding-top: 70px !important;
}
.pb-7
{
    padding-bottom: 70px !important;
}

.text-purple {
    color: #A95FA1;
}
.text-left{
    text-align: left !important;
}
.sub-text{
    max-width: 490px;
    margin: 0 auto;
    font-size: 18px;
    line-height: 34px;
}
.sub-head{
    font-size: 61px;
    font-weight: 300;
}

.info {
    padding: 3em 0;
}

.child2-sec p{
    max-width: 340px;
    font-size: 23px;
}

.flex {
    display: flex;
    justify-content: space-between;
}

.list {
    margin: 2em 0;
    margin-bottom: 0;
    list-style-position: outside;

}
.list-2 li {
    padding: 1.75em 0 !important;
}
.list li{
    list-style-type: none;
    color:#727070;
    flex: 50%;
    padding: 0.75em 0;
}

.text-light {
    color:#727070; 
}

.bold {
    font-weight: bold;
}

.info h2 {
    font-size: 40px;
    text-align: left;
    flex: 2;
}

.info .child2 {
    flex: 3;
    text-align:left;
}


@media (max-width: 981px) {
    .container {
        width: 85%;
    }

    .size-2 {
        font-size: 16px !important;
    }

}

.list li:before {
    content: "\f058";
    font-family: "Font Awesome 5 Free";
    padding: 0 10px 0 0;
    color: #A95FA2;
}

.gd1 {
    left: 0;
    width: auto !important;
    position: absolute;
    mix-blend-mode: normal;
opacity: 0.24;
}

.gd2 {
    position: absolute;
bottom: 100px;
right: 0;
width: auto !important;
    mix-blend-mode: normal;
opacity: 0.24;
}

.gd3 {
    position: absolute;
    right: 0;
    top: 0;
    width: auto !important;
    mix-blend-mode: normal;
    opacity: 0.24;
}

.gd4 {
    position: absolute;
    bottom: 0;
    left: 0;
    width: auto !important;
    mix-blend-mode: normal;
    opacity: 0.24;
}

@media (max-width:981px) {

    .list-2 li {
    padding: 0.75em 0 !important;
}
.pb-7 {
    padding-bottom: 50px !important;
}
.pt-7 {
    padding-top: 23px !important;
}
.pr-4 {
    padding-right: 0px !important;
}
.pl-4 {
    padding-left: 0px !important;
}
h1 {
    font-size: 3em;
}
h2 {
    font-size: 28px;
}
.video2 {
    margin-top: -172px;
}
.video {
    margin-top: -200px;

}
.mobile-minh{
    min-height: 470px;
    padding-bottom: 8em;
}
.sub-head{
    text-align: center;
    font-size: 36px;
}
.video2 iframe {
    height: 192px;
}

.video3 h2{
    text-align: center;
    font-size: 28px !important;
    font-weight: 400;
    padding-top: 40px;
}
.sub-text{
    text-align: center !important;
}
.w85 {
    width: 80%;
    margin: 0 auto;
}

.video iframe {
    height: 192px;
}

.flex {
    display: block;
}

.list {
    display: block;
    margin-bottom: 0;

}


.info {
    padding: 2em 0;
}

.pt {
    padding-top: 4em;
}
.video h2 {
    text-align: center;
    font-size: 36px;
}
.child2 .text-purple {
    font-size: 18px;
    text-align: left;
}

.child2 p {
    text-align: center;
}
.pt h1 {
    font-size: 36px;
}

.gd1 {
    left: -100px;
    top: 0;
    width: auto;
}

.gd2 {
bottom: 100px;
right: 0 !important;
width: auto;
}

.gd3 {
    right: 0 !important;
    top: 0;
    width: auto;
}

.gd4 {
    bottom: 200px;
    left: 0;
    width: auto;
}

}

.modal {
    padding: 20px !important;
    max-width: 1000px !important;
}

.relative {
    position: relative;
}

.gray-gd {
    position: absolute;
    bottom: 0;
    right: 0;
}

.page-content {
    position: relative;
}

.size-2 {
    font-size: 21px;
    max-width: 700px;
    margin: 0 auto;
}

.chatdiv {
    position: fixed;
    top: 20px;
    right: 20px;
}

.chatdiv a {
    border: 1px solid white;
    border-radius: 50px;
    cursor: pointer;
    color: white;
    display: block;
    padding: 20px;
    font-size: 16px;
    text-decoration: none;
    border-radius: 10px;
    text-align: center;
}

.h100 {
    height: 100vh;
}